
snippet impl
IMPLICIT NONE
	$0
endsnippet


snippet iface
INTERFACE ${1:NAME}
	${0}
END INTERFACE $1
endsnippet

# Types
snippet type
TYPE(${1:NAME})
$0
END TYPE
endsnippet


snippet arr
${1:TYPE}, ALLOCATABLE, DIMENSION(${2::}) :: $0
endsnippet


snippet intent
${1:TYPE}, INTENT(IN/OUT) :: $0
endsnippet

# Array
snippet /
(/ $1 /) ${2:,&} $0
endsnippet

snippet sub
SUBROUTINE ${1:NAME}($2)
IMPLICIT NONE
	$0
END SUBROUTINE $1
endsnippet
